/*REGISTER PAGE*/
.logoregister {
	margin-bottom: 30px;
	margin-top: 30px;
}

.register {
	margin-top: 30px;
	width: 400px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
}

/*TEMPLATE*/
.z-north,.z-south,.z-west,.z-center,.z-east {
	border: 1px solid #FFF;
	position: absolute;
	overflow: hidden;
	background-color: #FFF;
}

/*Propriedade Grid*/ 
.nostyle.z-grid {
	border: none;
}

.nostyle tr.z-grid-odd td.z-row-inner,
.nostyle tr.z-grid-odd .z-cell {
	border-left: 1px solid transparent;
	background-color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFF;
}

.nostyle td.z-row-inner,{
	border-left: 1px solid transparent;
	background-color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFF;
}

.nostyle tr.z-row-over > td.z-row-inner {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.nostyle tr.z-row-over > td.z-row-inner, tr.z-row-over > .z-cell {
	background-image: none;
}

/*COR NO GROUPBOX*/
.z-groupbox {
	margin-right: auto;
	margin-left: auto;
}

.z-groupbox-notitle {
	border: 2.8px solid #78BEF4;
}

.z-groupbox-cnt {
	overflow: hidden;
	padding: 5px;
	border: 2.8px solid #78BEF4;
}

.z-groupbox-hr {
	position: relative;
	top: 8px;
	border: 2.8px solid #78BEF4;
	border-bottom: 0;
}

.z-groupbox-header {
	font-size: 18px;
}

.panelregister .z-groupbox {
	width: 600px;
	height: 500px;
}

/*NAVBAR*/
.navbookway {
	background-color: rgb(120, 190, 244);
}

.navbookway .z-textbox {
	margin-left: 300px;
}

.navbookway .btnlogout {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

/*MAIN MENU*/
.mainmenu .z-label {
	margin-left: 30px;
}

.mainmenu .z-image {
	margin-left: 30px;
}

/*PERFIL PAGE*/
.panelperfil {
	width: 500px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.panelperfil .z-groupbox {
	width: 450px;
	height: 500px;
}

.perfil {
	margin-top: 30px;
	width: 350px;
	height: 450px;
	margin-right: auto;
	margin-left: auto;
}

.buttonsperfil {
	margin-top: 30px;
}

/*TEXT PAGE*/
.paneltext {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.basicdata {
	width: 500px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
}

.simpleimport {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.avancedimport {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.listlevel {
	margin-top: 10px;
}

/*SEARCH TEXTS*/
.searchtexts {
	margin-top: 15px;
}

.labelsearchtexts {
	margin-left: 100px;
}

.resultsearch {
	margin-top: 20px;
}

/*ITEM TEXT MACRO COMPONENT*/
.titleitemtext {
	font-size: x-large;
	color: rgb(0, 0, 0);
}

.itemtext {
	padding: 15px;
}

.descriptionitemtext {
	text-align: justify;
}

/*MY TEXT MACRO COMPONENT*/
.mytextbuttons {
	border-width: 1px;
	border-bottom-style: solid;
	border-color: rgb(223, 223, 223);
}

.titlemytext {
	font-size: medium;
	font-weight: bold;
}

.mytext {
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
}

.descriptionmytext {
	max-height: 50px;
	width: 150px;
}

/*ITEM STUDY MACRO COMPONENT*/

/*TAB PANELS*/
.tabpanelstudy {
	text-align: justify;
}

/*SEARCH ANNOTATION*/
.searchant {
	margin-top: 15px;
}

/*ITEMOFPANEL MACRO COMPONENT*/
.itemofpanel {
	padding: 5px;
}

/*SEARCH FRIENDS*/
.searchfriends {
	margin-top: 15px;
}

/*ITEMFRIEND MACRO COMPONENT*/
.itemfriend {
	padding: 15px;
}
